/* components/Navbar/Navbar.module.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s;
}

.navbar.scrolled {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.12);
}

.navbarInner {
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* ── Logo ── */
.navLogo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-shrink: 0;
  text-decoration: none;
}

.logoText {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.logoName {
  font-family: 'montserrat', serif;
  font-weight: 900;
  font-size: 1rem;
  color: var(--green-main);
  letter-spacing: 0.05em;
  line-height: 1;
}



/* ── Nav Links ── */
.navLinks {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-left: auto;
}

.navLinks a {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-dark);
  text-decoration: none;
  padding: 0.4rem 0.65rem;
  border-radius: 4px;
  transition: color 0.2s;
  white-space: nowrap;
}

.navLinks li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 6px 0;
}

/* underline base (hidden) */
.navLinks li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
  
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease-in-out;
}

/* hover state */
.navLinks li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  color: var(--green-main)
}

.navLinks a:hover {
  color: var(--green-main);
}


/* .navLinks a.active {
  color: var(--green-main);
  border-bottom: 2px solid var(--gold);
  padding-bottom: 0.2rem;
} */

/* ── Right side ── */
.navRight {
  display: flex;
  align-items:center;
  gap: 0.75rem;
  flex-shrink: 0;
}

.investBtn {
  display: inline-flex;
  align-items: center;
  max-width: 150px;
  width: 100%;
  gap: 0.4rem;
  padding: 0.55rem 1.1rem;
  border-radius: 100px;
  background: var(--gold);
  color: white;
  font-size: 0.82rem;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  transition: background 0.4s, transform 0.15s;
}

.investBtn:hover {
  background: var(--gold-light);
  transform: translateY(-1px);
}

/* ── Hamburger ── */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.hamburger span {
  width: 22px;
  height: 2px;
  background: var(--text-dark);
  border-radius: 2px;
  display: block;
}

/* ── Logo Name Mobile ── */

.logoNameMobile{
  display: none;
   font-family: 'montserrat', serif;
  font-weight: 900;
  font-size: 0.75rem;
  color: var(--green-main);
  letter-spacing: 0.05em;

}

/* ── Mobile ── */
@media (max-width: 900px) {
  .navLinks {
    display: none;
  }

  .navLinks.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    padding: 1rem 2rem;
    border-top: 1px solid #eee;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }

  .hamburger {
    display: flex;
  }

  
}


@media (max-width: 425px){


  .logoNameMobile{
    display: block;
  }


  .navbarInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
  }

  .navLogo {
    flex: 1;
    overflow: hidden;
  }

  .logoName {
    display: none; 
    font-size: 0.55rem;
  }

  

 
}
